/* COLORS */

  :root {
    --main-color: #1e1e1e;
  }
  


/* FONTS */

  .italiana-regular {
    font-family: "Italiana", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  .menu {
    font-size: 28px;
  }

  .logo {
    font-size: 36px;
    text-align: center;
    margin: 25px;
  }

  h2 {
    font-size: 36px;
  }

  .menu-items {
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    font-weight: 500;
    color: var(--main-color);
  }

  .menu-items:hover {
    cursor: pointer;
    color: var(--main-color);
  }



  /* HEADER */

  .menu-header {
    display: flex;
    align-items: center;
    margin: 25px;
  }

  .menu-header img {
    margin-right: 5px; 
  }

  .flex-column {
    margin: 25px 20px;       
  }

  .social-media {
    margin: 25px 20px;
    padding: 1rem; 
  }

  .social-media img {
     margin-right: 10px;
  }

  .form-inline {
    margin: 0px 40px;
  }

  .form-control {
    border: none;
    border-bottom: 1px solid #1e1e1e;
    border-radius: 0px;
    color: lightgrey;
  }


  /* BODY */

  * {
    box-sizing: border-box;
  }

  .welcome {
    margin-top: 100px;
  }

  .about-us, .vegan {
    margin-top: 100px;
  }

  html, body {
    height: auto;
    padding: 0 !important;
    margin: 0 !important;
    overflow-x: hidden;
    overflow-y: auto;
  }

  body.overflow-hidden {
    overflow: hidden;
  }

  .flipped {
    transform: scaleX(-1);
  }

  .arrows {
    margin: 25px 100px;
  }

  .margin-bottom-website {
    margin-bottom: 100px;
  }

  .button-main {
    padding: 5px 15px;
    border: 1px solid var(--main-color);
    background-color: white;
    font-weight: 500;
  }

  .contact {
    border: none;
    border-bottom: 1px solid #1e1e1e;
    border-radius: 0px;
    color: lightgrey;
  }

  .contact-form {
    margin-top: 30px;
  }

  .d-flex {
    gap:5px;
  }


  /* FOOTER */

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    overflow: hidden;
    font-size: 36px;
  }

  .scrolling-text {
    white-space: nowrap;
    animation: scroll 20s linear infinite;
  }


  /* MENU*/

  #contentColumn {
    margin: 0 auto;
    padding: 0;
    transition: margin-left 0s linear, margin-top 0s linear;
  }

  #navbarCollapse.show + #contentColumn {
    margin-left: 0;
  }

  #navbarCollapse {
    max-height: 1000px; 
    overflow: hidden; 
    transition: max-height 0s ease-out; 
  }

  #navbarCollapse.collapsing {
    max-height: 0; 
  }
  
  .mobile-only {
    display: none;
  }

  .notselected {
    color: lightgray;
  }

  /* MOBILE */

  @media (max-width: 767px) {

    body {
      display: flex;
      flex-direction: column;
      height: auto;
      overflow-x: hidden;
      overflow-y: auto;
    }
  
    .row.flex-grow-1 {
      flex-grow: 0 !important;
      margin-top: 20px;
    }
  
    footer {
      bottom: 0;
      height: 40px;
    }

    .menu {
      display: none;
    }

    .logo {
      margin-left: -15px;
    }

    .description {
      width: 100%;
    }

    #blogCarousel .carousel-inner {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch; 
  }

  #blogCarousel .carousel-item {
      flex: 0 0 auto;
      width: auto;
      margin-right: 0; 
  }

  #blogCarousel {
    max-height: 200px;
    margin-bottom: 20px;
}

  #blogCarousel .carousel-item img {
      max-width: 100%;
      height: auto; 
  }

  .mobile-only {
    display: inline-block;
  }

  .desktop-only {
    display: none;
  }

  .custom-margin{
    margin-left:70px;
  }

  .custom-bottom-margin{
    margin-bottom: 15px;
  }

  #contentColumn.collapsed {
    display: none;
  }

  #navbarCollapse.show {
    width: 100%;
  }

  #navbarCollapse{
    margin-left: 50px;
  }

  .about-us{
    margin-top: 20px;
  }
  
  .vegan {
    margin-top: 300px;
  }

  iframe {
    width: auto;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .contact-form .col-6 {
    width: 100%;
  }

  #contentColumn{
    margin-bottom: 30px;
  }

  .maps {
    display: none;
  }

  #subject{
    height: 30px;
  }
  }

  
/* ANIMATIONS */

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

#contentColumn {
  animation: fadeInUp 1s ease;
  animation-fill-mode: forwards;
}

@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}


